<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://<数据库地址>:<端口号>/korder?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="<用户名>"/>
                <property name="password" value="<密码>"/>
            </dataSource>
        </environment>
    </environments>
<mappers>
    <mapper resource="com/chuyasupport/kserver/repository/UserRepository.xml"/>
    <mapper resource="com/chuyasupport/kserver/repository/AddressRepository.xml"/>
    <mapper resource="com/chuyasupport/kserver/repository/FindRepository.xml"/>
    <mapper resource="com/chuyasupport/kserver/repository/PostRepository.xml"/>
    <mapper resource="com/chuyasupport/kserver/repository/OrderRepository.xml"/>
    <mapper resource="com/chuyasupport/kserver/repository/MyRepository.xml"/>
</mappers>
</configuration>